<h1>Homepage</h1>




<body>
<div id= "wrapper">
		<header id= "header">
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
		<a href= "index.html">
		
		</a>
		</header>
		<nav id= "nav">
		<ul>
		    
		    <%= link_to 'About', about_path %>
			  
		</ul>
		</nav>
		<div id= "main">
		<h1>Istočno Sarajevo</h1>
		<p>Grad Istočno Sarajevo (<em>ranije grad Sarajevo Republike Srpske, pa grad Srpsko Sarajevo, a od 2006. nosi današnje ime</em>) je jedinica lokalne samouprave u Republici Srpskoj, BiH. Grad Istočno Sarajevo je dejure glavni grad Republike Srpske. </p>
	
	<p>Po površini je najveći grad u Republici Srpskoj, dok se po broju stanovnika nalazi na petom mjestu. Jedini je grad u ovom entitetu koji obuhvata više opština. Prema konačnim podacima Popisa stanovništva BiH 2013. godine za Republiku Srpsku koje je izdao Republički zavod za statistiku a trebalo da preuzme i objavi Agencija za statistiku Bosne i Hercegovine, u Gradu Istočnom Sarajevu je popisano ili <strong>59.916</strong> <em>(podatak RZS</em>) ili<strong> 61.516</strong> (<em>podatak AGS</em>) lica.</p>

	<p>Grad je nastao tokom rata u BiH, kada je veliki broj gradova podijeljen na srpske i muslimanske odnosno hrvatske dijelove. Tokom samog rata grad Srpsko Sarajevo je zahvatao mnogo veću teritoriju od one koja mu je pripala po Dejtonskom sporazumu. Tada su se u gradu pored današnjih dijelova nalazili: <strong>Ilidža, Hadžići, Ilijaš, Vogošća, kao i naselja samog grada Sarajeva.</strong> Administracija grada Istočno Sarajevo nalazi se u gradskom naselju Lukavica, u ulici Stefana Nemanje. Geografski gledano, grad čini jedinstvenu urbanu cjelinu sa gradom Sarajevom.</p>
	<div id="video" ><iframe width="560" height="315" src="https://www.youtube.com/embed/J06Vo2baq2s" frameborder="0" allowfullscreen></iframe>
	<p>Video- Istočno Sarajevo</p>
	</div>

	
		</div>
		<aside id= "sidebar">
			<h3>Ostali podaci:</h3>
			<p>Vremenska zona: UTC+1 (CET), ljeti UTC+2 (CEST)</p>
			<p>Poštanski broj: 71123</p>
			<p>Pozivni broj: 057</p>
			<p>Krsna slava: Sveti Petar Sarajevski</p>
			<br>
			<p><img src= "images/grb1.png" alt= "grb"></p>
			<p> <em>Slika 1 - grb Istočnog Sarajeva</em></p>
			<br>
			<p><img src= "images/zastava2.png" alt= "zastava"></p>
			<p> <em>Slika 2 - zastava Istočnog Sarajeva</em></p>
		</aside>
		<footer id= "footer">
			<p>Grad Istočno Sarajevo</p>
		</footer>
	
</div>

</body>



